{% extends "base.html" %}
{% block title %}Posts - Django Blog{% endblock %}
{% block content %}
<h1>All Posts</h1>
{% if posts %}
  <ul class="post-list">
    {% for post in posts %}
      <li>
        <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
        <p class="meta">by {{ post.author.username }} on {{ post.published_date|date:"M d, Y H:i" }}</p>
        <p>{{ post.content|truncatewords:30 }}</p>
        <p class="tags">
          {% for tag in post.tags.all %}
            <a class="tag" href="{% url 'posts_by_tag' slug=tag.slug %}">#{{ tag.name }}</a>
          {% empty %}<span class="muted">No tags</span>
          {% endfor %}
        </p>
      </li>
    {% endfor %}
  </ul>
{% else %}
  <p>No posts yet.</p>
{% endif %}
{% endblock %}
