{% extends "base.html" %}
{% block title %}#{{ tag.name }} - Django Blog{% endblock %}
{% block content %}
<h1>Tag: #{{ tag.name }}</h1>
{% if posts %}
  <ul class="post-list">
    {% for post in posts %}
      <li>
        <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
        <p class="meta">by {{ post.author.username }} on {{ post.published_date|date:"M d, Y H:i" }}</p>
        <p>{{ post.content|truncatewords:30 }}</p>
      </li>
    {% endfor %}
  </ul>
{% else %}
  <p>No posts for this tag.</p>
{% endif %}
{% endblock %}
